@media (min-width: 770px) and (max-width: 1400px){
    .match{
        flex-wrap: wrap;
        justify-content: center;
    }
    .title{
        // margin-left: 20px;
    }
    .other{
        width: 100%;
        &__head{
            margin-left: 20px;
        }
        &__body{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .footer__full_size{
        width: 100%;
    }
    .menu{
        &__list{

            &_item{
                margin-left: 20px;

            }
            &_links{
                font-size: 15px;
            }
        }
    }
    .footer__tail{
        &_left{
            margin-left: 20px;
        }
    }
}
@media (min-width: 426px) and (max-width: 769px){
    .menu{
        &__list{

           display: none;
        }
    }
    .match{
        flex-wrap: wrap;
        justify-content: center;
        &__game{
            width: 100%;
        }
        &__information{
            // width: 100%;
            width: 500px;
        }
    }
    .bet{
        width: 100%;
    }
    .analytics{
        width: 100%;
        &__head{
            padding-left: 20px;

        }
        &__body{
            padding-left: 20px;
            padding-right: 20px;
            &-teams-name{
                width: 100%;
            }
        }
        &__tail{
            &_team{
                width: 100%;
            }
        }
    }
    .handicap{
        width: 100%;
        &__head{
            padding-left: 20px;
        }
        &__body{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .players{
        width: 100%;
        &__head{
            padding-bottom: 0px;
            padding-left: 20px;
            padding-right: 20px;
        }
        &__body{
            flex-wrap: wrap;
            justify-content: center;
            &_content{
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
                &-teams{
                    margin-top: 20px;
                    &-text{
                        padding-right: 20px;
                    }
                }
                &-informations{
                    &-stats{
                        padding-right: 20px;
                    }
                }
            }
        }
        &__tail{
            &_team{
                width: 100%;
            }
        }
    }
    .map{
        width: 100%;
        &-container{
            width: max-content;
        }
    }
    .about{
        width: 100%;
        &__head{
            margin-left: 20px;
            margin-right: 20px;
        }
        &__body{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .other{
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        &__head{
            margin-left: 20px;
            margin-right: 20px;
        }
        &__body{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .footer__full_size{
        width: 100%;
    }
    .footer__center{
        &_text{
            & > p{
                font-size: 20px;
            }
        }
        & > input{
            width: 400px;
        }
    }
}
@media (min-width: 320px) and (max-width: 425px){
    .menu{
        &__list{
            display: none;
        }
        &__options_dropdown{
            display: none;
        }
        &__homepage{
            // padding-left: 20px;
        }
    }
    .breadcrumbs{
        &__item{
            display: none;
            &-active{
                display: flex;
                align-items: center;
                & > svg{
                    display: block;
                    width: 10px;
                    height: 10px;
                    margin: 0px;
                }
            }
        }
    }
    .game-select{
        margin-left: 20px;
        margin-top: 60px;
        margin-bottom: 10px;
    }
    .title{
        margin-left: 20px;
        margin-right: 20px;
        &__name{
            width: 100%;
            font-size: 32px;
        }
    }
    .match{
        margin-right: 20px;
        margin-left: 20px;
        flex-wrap: wrap;
        justify-content: center;
        &__game{
            width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
            &-team{
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 70px;
                &-logo{
                    width: 60px;
                    height: 60px;
                    & > picture{
                        & > img{
                            padding: 10px;
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
                &-name{
                    text-align: center;
                    min-height: 70px;
                }
                &-country{
                    display: none;
                }
                &_win-rate{
                    display: none;
                }
            }
            &-information{
                &-name{
                    text-align: center;
                    font-size: 12px;
                }
                &-time{
                    font-size: 20px;
                }
                &-date{
                    text-align: center;
                }
                &-winner{
                    text-align: center;
                    font-size: 14px;
                    .chance-win {
                        justify-content: center;
                    .win{
                        padding: 0 42px;
                    }
                    .lose{
                        padding: 0 5px;
                    }
                }
                }
            }
        }
        &__information{
            width: 318px;
            padding: 0px;
        }
        &__bonus{
            display: none;
        }
    }
    .bet{
        width: 100%;
        &__head{
            margin-left: 20px;
            margin-right: 20px;
            font-size: 20px;
        }
        &__body{
            &-teams{
                padding-right: 20px;
                justify-content: space-between;
                &-name{
                    margin-right: 0px;
                    margin-left: 20px;
                }
            }
            &-content{
                &-items{
                    justify-content: space-around;
                    flex-direction: row;
                    flex-wrap: wrap;
                    &-text{
                        margin-left: 0px;
                        &.mobile{
                            display: none;
                        }
                    }
                    &-img{
                        margin-left: 0px;
                    }
                }
            }
        }
    }
    .analytics{
        width: 100%;
        &__head{
            margin-right: 20px;
            margin-left: 20px;
        padding-bottom: 0px;
        }
        &__body{
        margin-right: 20px;
        margin-left: 20px;
            flex-direction: column;
            &-teams-name{
                padding-top: 20px;
                width: 100%;
            }
        }
        &__tail{
            &_team{
                width: 100%;
            }
        }
    }
    .handicap{
        width: 100%;
        &__head{
            margin: 0px;
            padding-bottom: 0px;
            width: 100%;
        }
        &__body{
        // margin-right: 20px;
        // margin-left: 20px;
        width: 100%;
        &_top{
                padding-top: 40px;
                width: 100%;
                // margin-right: 20px;
                // margin-left: 20px;
            }
            &_content{
                width: 100%;
                &-result{
                    margin-left: 20px;
                    
                }
                &-procent{
                    margin-right: 20px;

                }
            }
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .winrate{
        width: 100%;
        &__stats{
            &_container{
                width: 100%;
                // flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                &-item{
                    max-width: 100%;
                    padding-left: 10px;
                    &:first-child{
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        width: 100%;
                        margin-bottom: 20px;
                        padding-bottom: 20px;
                        border-right: none;
                    }
                }
            }
        }
        &__map{
            &_container{
                width: 100%;
             &-item{
                 padding-left: 0px;
                 & > h2{
                     font-size: 20px;
                 }
             }
            }
        }
    }
    .players{
        width: 100%;
        &__head{
            padding-bottom: 0px;
            padding-left: 20px;
            padding-right: 20px;
        }
        &__body{
            padding-left: 20px;
            padding-right: 20px;
            flex-wrap: wrap;
            justify-content: center;
            &_content{
                width: 100%;
                &-teams{
                    margin-top: 20px;
                }
                &-informations{
                    &-name{
                        & > picture{
                            & > img{
                                width: 73px;
                            }
                        }
                        & > div{
                            margin-left: 0px;
                            & > h2{
                                font-size: 14px;
                            }
                            & > p{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        &__tail{
            &_team{
                width: 100%;
            }
        }
    }
    .map{
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        &-container{
        padding-left: 20px;
        padding-right: 20px;

            width: max-content;
        }
    }
    .about{
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        &__head{
        padding-left: 20px;
        }
        &__body{
        padding-left: 20px;
            height: auto;
            font-size: 18px;
        }
    }
    .other{
        // padding-left: 20px;
        padding-top: 40px;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        &__head{
        padding-right: 20px;
        padding-left: 20px;
        }
        &__body{
        // padding-right: 20px;
        // padding-left: 20px;
        }
    }
    .footer__full_size{
        width: 100%;
    }
    .footer__center{
        flex-direction: column;
        justify-content: space-around;
        height: 317px;
        &_text{
            width: 100%;
            & > p{
                font-size: 30px;
            }
        }
        & > input{
            width: 100%;
            font-size: 30px;
            &::placeholder{
                // padding-left: 0px;
            }
        }
        & > button{
            height: 60px;
            width: 100%;
        }
    }
    .footer__tail{
        height: auto;
        &_top{
            flex-direction: column;
            &-left{
                width: 100%;
                padding-top: 18px;
            }
            &-right{
                padding-top: 40px;
                width: 100%;
            }
        }
        &_bot{
            padding-top: 80px;
            flex-direction: column-reverse;
            &-left{
                width: 100%;
                font-size: 18px;
                flex-direction: column-reverse;
                & > p{
                    padding-top: 20px;
                }
                & > div{
                    padding-top: 20px;
                    & > p{
                    }
                }
            }
            &-right{
                width: 100%;
                & > div{
                    & > p{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}